<ion-header>
  <ion-toolbar>
    <div class="gradient-header">
      <h1>Explore</h1>
      <div class="search-container">
        <ion-searchbar
          [(ngModel)]="searchTerm"
          placeholder="Search..."
          (ionInput)="filterItems()"
        ></ion-searchbar>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of filteredItems">
        <ion-card>
          <img [src]="item.image" alt="Product image" />
          <ion-card-header>
            <ion-card-title>{{ item.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              <strong>Price:</strong> ₹{{ item.discountedPrice }}
              <span class="original-price">₹{{ item.price }}</span>
            </p>
            <p>{{ item.discount }}% off</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
