.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f5; // light background color for contrast
  }
  
  .login-card {
    width: 90%;
    max-width: 350px;
    background: linear-gradient(135deg, #FF7E5F, #feb47b); // gradient similar to the original
    border-radius: 15px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .icon {
    font-size: 60px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  h2 {
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-item {
    margin-bottom: 15px;
    --background: rgba(255, 255, 255, 0.3); // transparent input background
    --placeholder-color: #ffffff;
    --color: #ffffff; // input text color
    border-radius: 5px;
  }
  
  ion-input {
    color: #ffffff; // ensures input text is white
  }
  
  .login-button {
    --background: #ffffff;
    color: #ff7e5f;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 8px;
    text-transform: uppercase;
  }
  
  .forgot-password {
    color: #ffffff;
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .create-account {
    color: #ffffff;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  .google-button {
    --background: #ffffff;
    color: #ff7e5f;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }