<ion-content>
  <div class="login-wrapper">
    <div class="login-card">
      <ion-icon name="person-circle-outline" class="icon"></ion-icon>
      <h2>User Login</h2>
      <ion-item lines="none" class="input-item">
        <ion-input placeholder="Enter gmail or Phone number"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input-item">
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-button expand="block" class="login-button">Log in</ion-button>
      <p class="forgot-password">Sign-up</p>
      <!-- Google Sign-In Button -->
      <ion-button expand="block" class="google-button">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Sign in with Google
      </ion-button>
    </div>
  </div>
</ion-content>