<ion-header>
  <div class="gradient-header">
    <h1>All Categories</h1>
    <ion-searchbar
      placeholder="Search..."
      [(ngModel)]="searchTerm"
      (ionInput)="filterCategories()"
    ></ion-searchbar>
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Category Items -->
      <ion-col size="6" *ngFor="let category of filteredCategories">
        <!-- Use routerLink for navigation -->
        <div class="category-card" [routerLink]="category.route">
          <ion-icon [name]="category.icon" size="large"></ion-icon>
          <p>{{ category.name }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
