/* General styling for the Payment Method page */
ion-header {
  --background: var(--ion-color-primary);
  --color: #fff;
}

ion-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Content section padding and alignment */
ion-content {
  --background: #f4f5f8; /* Light background color */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
}

h2 {
  font-size: 1.25rem;
  color: var(--ion-color-primary);
  margin-bottom: 16px;
  text-align: center;
  font-weight: bold;
}

/* List styling */
ion-list {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

ion-item {
  --background: #ffffff;
  font-size: 1rem;
  --border-color: #e0e0e0;
  border-bottom: 1px solid var(--border-color);
}

ion-item:last-child {
  border-bottom: none; /* Remove border for the last item */
}

ion-label {
  font-size: 1rem;
  color: #333;
}

/* Radio button customization */
ion-radio {
  --border-color: var(--ion-color-primary);
  --color-checked: var(--ion-color-primary);
}

/* Button styling */
ion-button {
  margin-top: 16px;
  --background: var(--ion-color-primary);
  --color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ion-button:hover {
  filter: brightness(1.1);
}
