ion-toolbar {
    --background: #ff9900;
    --color: #ffffff;
  }
  
  ion-searchbar {
    --background: #ffffff;
    --placeholder-color: #aaa;
    --color: #333;
    margin: 10px auto;
    width: 90%;
    max-width: 400px;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  ion-card {
    width: 160px; 
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  
  ion-card:hover {
    transform: translateY(-5px); 
    background-color: #ff9900;
    color: #ffffff;
  }
  
  ion-card img {
    width: 100%;
    height: 120px;
    object-fit: contain; 
    background-color: #f9f9f9; 
    transition: opacity 0.3s ease-in-out;
  }
  
  ion-card:hover img {
    opacity: 0.9;
  }
  
  ion-card-header {
    text-align: center;
    padding: 8px;
    transition: color 0.3s ease-in-out;
  }
  
  ion-card-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin: 0;
    transition: color 0.3s ease-in-out;
  }
  
  ion-card:hover ion-card-title {
    color: #ffffff; 
  }
  
  ion-card-content {
    text-align: center;
    font-size: 13px; 
    color: #666;
    padding: 8px;
    transition: color 0.3s ease-in-out;
  }
  
  ion-card-content p {
    margin: 5px 0;
  }
  
  ion-card:hover ion-card-content {
    color: #ffffff; 
  }
  

  ion-grid {
    justify-content: center; 
  }
  
  ion-col {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  
  @media (max-width: 600px) {
    ion-col {
      flex: 0 0 48%; 
    }
  }
  
  @media (max-width: 400px) {
    ion-col {
      flex: 0 0 100%;
    }
  }
  