<ion-content>
  <div class="create-account-wrapper">
    <div class="create-account-card">
      <ion-icon name="person-circle-outline" class="icon"></ion-icon>
      <h2>Create Account</h2>
      <ion-item lines="none" class="input-item">
        <ion-input placeholder="User Name"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input-item">
        <ion-input placeholder="Enter gmail or Phone number"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input-item">
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input-item">
        <ion-input type="password" placeholder="Re-enter password"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox slot="start" color="primary"></ion-checkbox>
        <label class="terms">By creating an account you agree to our <span>Term and Condition</span></label>
      </ion-item>
      <ion-button expand="block" class="create-account-button">Log in</ion-button>
      <p class="social-login">Get start with 
        <ion-icon name="logo-google"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
      </p>
    </div>
  </div>
</ion-content>